body{
    text-align:center;
    font-family:Inter;
    /* background-color:aliceblue;
    color:brown; */
    
}



img {
    border-radius:10px;
    border:4px black dashed;
        box-shadow: 10px 20px 5px  rgba(0, 0, 0, 0.277);

}

ul{
    list-style-type: none;
}
#this:hover {
    font-size:110%;
    color:black;
}

#this  {
    text-decoration:none;
    transition: all 0.3s ease-in-out;
    color:red;
    background-color:antiquewhite;
    padding:1rem 2rem;
    border-radius:50px;
    display: inline-block;
    margin-top: 2rem;

}

